@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;600&display=swap');

$primaryColor: rgb(72, 127, 90);
$blackColor: black;
$secondaryColor: #ffc107;
$fontFamily: 'Exo 2', sans-serif;
$fontSize: 16px;
$maxWidth: 1140px;
$marginGrid: 10px;
$breakPointTablet: 768px;
$breakPointDesktop:1140px;
