<header>
    <div class="logo">
        <a [routerLink]="['/home']">Br<sup>35</sup>Ba<sup>56</sup></a>
    </div>
    <nav>
        <ul>
            <li><a [routerLink]="['/characters']">Personajes</a></li>
            <li><a [routerLink]="['/episodes']">Episodios</a></li>
            <li>
                <input [(ngModel)]="search" type="text" placeholder="Buscar por nombre" (keyup.enter)="onKeyup($event)">
                <button (click)="searchValue()">Buscar</button>
            </li>
        </ul>
    </nav>
</header>